hr{
height:6px;
background-color:black;   
width: 1260px;
}
.heads{
    font-weight:bold;
    font: size 20px;
    text-align: center;
    height:100px;
    width: 1260px;
    background-color:rgb(237, 159, 57);
    border-radius: 20px;
   
    

}
.image{
    height:50px;
    width:50px;
    border-radius: 30px;
}
.items{
    font-weight:bold;
    border-color: black;
    width: 1260px;
    height:300px;
    background-color:rgb(237, 159, 57);
    border-radius: 20px;
   align-items: center; 
}
.top{
    text-align: center; 
    border-color: black;
    
}

#paral{
    text-align: left;
    word-spacing:800px;
}
.bodytag{
    background-color:rgb(56, 154, 137);
}

h3{
    color: white;
}


@media screen and (max-width:600px)
{
    hr{
        height:4px;
         
        width:350px;
        }
        .heads{
            
            font: size 10px;
            height: 100px;
            width:350px;
           
        }
        .items{
            
            width:350px;
           
            height:300px;
        
        }
        #paral{
            text-align: left;
            word-spacing:230px;
        }
        h3{
            color: white;
            font-size:16;
        }
        

}
@media screen and (max-width:900px) and (min-width:600px) {
    /*add css for tablet size*/
}
